<%= include("head_partial.ejs") %>

<main>
  <h1><%= title %></h1>
  <ul id="errors">
    <% errors.forEach(function(err){ %>
      <li><%= err %></li>
    <% }) %>
  </ul>
  <%= include("forms/new_fish.ejs") %>
</main>

<%= include("foot_partial.ejs") %>